-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: alquilersagas
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Alquileres`
--

DROP TABLE IF EXISTS `Alquileres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Alquileres` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `movieId` int NOT NULL,
  `rentedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `expiresAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Rental_userId_fkey` (`userId`),
  KEY `Rental_movieId_fkey` (`movieId`),
  CONSTRAINT `Rental_movieId_fkey` FOREIGN KEY (`movieId`) REFERENCES `Peliculas` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Rental_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `Usuarios` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Alquileres`
--

LOCK TABLES `Alquileres` WRITE;
/*!40000 ALTER TABLE `Alquileres` DISABLE KEYS */;
/*!40000 ALTER TABLE `Alquileres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Peliculas`
--

DROP TABLE IF EXISTS `Peliculas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Peliculas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `releaseYear` int NOT NULL,
  `sagaId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Movie_sagaId_fkey` (`sagaId`),
  CONSTRAINT `Movie_sagaId_fkey` FOREIGN KEY (`sagaId`) REFERENCES `Sagas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Peliculas`
--

LOCK TABLES `Peliculas` WRITE;
/*!40000 ALTER TABLE `Peliculas` DISABLE KEYS */;
INSERT INTO `Peliculas` VALUES (1,'Harry Potter y la Piedra Filosofal',2001,1),(2,'Harry Potter y la C├ímara Secreta',2002,1),(3,'Harry Potter y el Prisionero de Azkaban',2004,1),(4,'Harry Potter y el C├íliz de Fuego',2005,1),(5,'Harry Potter y la Orden del F├⌐nix',2007,1),(6,'Harry Potter y el Misterio del Pr├¡ncipe',2009,1),(7,'Harry Potter y las Reliquias de la Muerte (parte 1)',2010,1),(8,'Harry Potter y las Reliquias de la Muerte (parte 2)',2011,1);
/*!40000 ALTER TABLE `Peliculas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Sagas`
--

DROP TABLE IF EXISTS `Sagas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Sagas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Saga_name_key` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Sagas`
--

LOCK TABLES `Sagas` WRITE;
/*!40000 ALTER TABLE `Sagas` DISABLE KEYS */;
INSERT INTO `Sagas` VALUES (1,'Harry Potter','La saga cinematogr├ífica de Harry Potter (2001-2011) consta de ocho pel├¡culas basadas en los libros de J.K. Rowling.');
/*!40000 ALTER TABLE `Sagas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Usuarios`
--

DROP TABLE IF EXISTS `Usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('CLIENT','MANAGER','ADMIN') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'CLIENT',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Usuarios`
--

LOCK TABLES `Usuarios` WRITE;
/*!40000 ALTER TABLE `Usuarios` DISABLE KEYS */;
INSERT INTO `Usuarios` VALUES (1,'paula@test.com','$2b$10$k2HAHyQEga1.0nERzeh51uW1uLUKTCitsfC4A7KrsYp3pYRswGAhW','CLIENT','2026-04-13 18:15:46.563'),(3,'paulamartinez20032004@gmail.com','$2b$10$FGfjcO8QGKoTCn3cG9gZP.rUnwK0TxhmBGSHK1ZLSx/CfhF9PxCgy','CLIENT','2026-04-27 17:47:18.181');
/*!40000 ALTER TABLE `Usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-03 16:41:20
