-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: alquilersagas
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Alquileres`
--

DROP TABLE IF EXISTS `Alquileres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Alquileres` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `movieId` int NOT NULL,
  `rentedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `expiresAt` datetime(3) NOT NULL,
  `canceled` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `Rental_userId_fkey` (`userId`),
  KEY `Rental_movieId_fkey` (`movieId`),
  CONSTRAINT `Alquileres_movieId_fkey` FOREIGN KEY (`movieId`) REFERENCES `Peliculas` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Alquileres_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `Usuarios` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Alquileres`
--

LOCK TABLES `Alquileres` WRITE;
/*!40000 ALTER TABLE `Alquileres` DISABLE KEYS */;
INSERT INTO `Alquileres` VALUES (17,5,85,'2026-05-12 20:37:38.207','2026-05-19 20:37:38.207',0),(18,5,86,'2026-05-12 20:37:38.207','2026-05-19 20:37:38.207',0),(19,5,87,'2026-05-12 20:37:38.207','2026-05-19 20:37:38.207',0),(20,5,88,'2026-05-12 20:37:38.207','2026-05-19 20:37:38.207',0),(21,5,89,'2026-05-12 20:37:38.207','2026-05-19 20:37:38.207',0),(22,5,12,'2026-05-12 20:39:18.360','2026-06-12 20:39:18.360',1),(23,5,13,'2026-05-12 20:39:18.360','2026-06-12 20:39:18.360',1),(24,5,14,'2026-05-12 20:39:18.360','2026-06-12 20:39:18.360',1);
/*!40000 ALTER TABLE `Alquileres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Categorias`
--

DROP TABLE IF EXISTS `Categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Categorias` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Categorias_name_key` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Categorias`
--

LOCK TABLES `Categorias` WRITE;
/*!40000 ALTER TABLE `Categorias` DISABLE KEYS */;
INSERT INTO `Categorias` VALUES (4,'Acci├│n'),(3,'Animaci├│n'),(8,'Ciencia ficci├│n'),(6,'Comedia'),(5,'Drama'),(7,'Fantas├¡a'),(9,'Romance'),(2,'Suspense'),(1,'Terror');
/*!40000 ALTER TABLE `Categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Peliculas`
--

DROP TABLE IF EXISTS `Peliculas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Peliculas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `releaseYear` int NOT NULL,
  `sagaId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Movie_sagaId_fkey` (`sagaId`),
  CONSTRAINT `Peliculas_sagaId_fkey` FOREIGN KEY (`sagaId`) REFERENCES `Sagas` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=187 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Peliculas`
--

LOCK TABLES `Peliculas` WRITE;
/*!40000 ALTER TABLE `Peliculas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Peliculas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Sagas`
--

DROP TABLE IF EXISTS `Sagas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Sagas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `precio` double NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Sagas_name_key` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Sagas`
--

LOCK TABLES `Sagas` WRITE;
/*!40000 ALTER TABLE `Sagas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Sagas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Usuarios`
--

DROP TABLE IF EXISTS `Usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('CLIENT','MANAGER','ADMIN') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'CLIENT',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `Usuarios_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Usuarios`
--

LOCK TABLES `Usuarios` WRITE;
/*!40000 ALTER TABLE `Usuarios` DISABLE KEYS */;
INSERT INTO `Usuarios` VALUES (3,'paulaadmin@gmail.com','$2b$10$FGfjcO8QGKoTCn3cG9gZP.rUnwK0TxhmBGSHK1ZLSx/CfhF9PxCgy','ADMIN','2026-04-27 17:47:18.181'),(5,'usuario@gmail.com','$2b$10$KahUG1N5SHus41Eks0TkyO9fY7rX83ZYf8L.MvAaN1wJ2v1F2.FZy','CLIENT','2026-05-12 18:09:15.098');
/*!40000 ALTER TABLE `Usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_CategoriasToSagas`
--

DROP TABLE IF EXISTS `_CategoriasToSagas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_CategoriasToSagas` (
  `A` int NOT NULL,
  `B` int NOT NULL,
  UNIQUE KEY `_CategoriasToSagas_AB_unique` (`A`,`B`),
  KEY `_CategoriasToSagas_B_index` (`B`),
  CONSTRAINT `_CategoriasToSagas_A_fkey` FOREIGN KEY (`A`) REFERENCES `Categorias` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `_CategoriasToSagas_B_fkey` FOREIGN KEY (`B`) REFERENCES `Sagas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_CategoriasToSagas`
--

LOCK TABLES `_CategoriasToSagas` WRITE;
/*!40000 ALTER TABLE `_CategoriasToSagas` DISABLE KEYS */;
/*!40000 ALTER TABLE `_CategoriasToSagas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-15 17:34:31
